<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.AdminMapper">
	<select id="getInfo" parameterType="String" resultType="com.jhta.dto.Admin_Dto">
		select * from admin where admin_id=#{value}
	</select>
	<insert id="insert" parameterType="com.jhta.dto.Admin_Dto">
		insert into admin values(#{admin_id},#{admin_pwd})
	</insert>
	<delete id="delete" parameterType="String">
		delete from admin where admin_id=#{value}
	</delete>
	<update id="update" parameterType="HashMap">
		update admin set admin_pwd=#{newpwd} where admin_id=#{id}
	</update>
</mapper>