<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.CommentsMapper">
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.Comments_Dto">
		select * from comments where comments_num=#{value}
	</select>
	<insert id="insert" parameterType="com.jhta.dto.Comments_Dto">
		insert into comments values(#{comments_num},#{member_id},#{track_num},#{comments_content},sysdate)
	</insert>
	
</mapper>