<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.GenreMapper">
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.Genre_Dto">
		select * from genre where genre_code=#{value}
	</select>
	<insert id="insert" parameterType="com.jhta.dto.Genre_Dto">
		insert into genre values(#{genre_code},#{genre_name})
	</insert>
	
</mapper>