<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.Main_ADMapper">
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.Main_AD_Dto">
		select * from Main_AD where ad_img_num=#{value}
	</select>
	<insert id="insert" parameterType="com.jhta.dto.Main_AD_Dto">
		insert into Main_AD values(#{ad_img_num},#{ad_file_num},#{url},#{description})
	</insert>
	
</mapper>