<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.Main_AD_FILEMapper">
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.Main_AD_FILE_Dto">
		select * from Main_AD_FILE where ad_file_num=#{value}
	</select>
	<insert id="insert" parameterType="com.jhta.dto.Main_AD_FILE_Dto">
		insert into Main_AD_FILE values(#{ad_file_num},#{ad_org_file_name},#{ad_saved_file_name},#{ad_file_size})
	</insert>
	
</mapper>