<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.MemberMapper">
	<select id="getInfo" parameterType="String" resultType="com.jhta.dto.Member_Dto">
		select * from Member where member_id=#{value}
	</select>
	<insert id="insert" parameterType="com.jhta.dto.Member_Dto">
		insert into Member values(#{member_id},#{member_pwd},#{member_introduce},#{member_nickname},#{member_url},#{member_img_num},#{member_himg_num},#{member_condition},sysdate)
	</insert>
	
</mapper>