<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.Member_IMGMapper">
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.Member_IMG_Dto">
		select * from Member_IMG where member_img_num=#{value}
	</select>
	<insert id="insert" parameterType="com.jhta.dto.Member_IMG_Dto">
		insert into Member_IMG values(#{member_img_num},#{org_file_name},#{saved_file_name},#{file_size})
	</insert>
	
</mapper>