<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.MessageMapper">
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.Message_Dto">
		select * from message where message_num=#{value}
	</select>
	<insert id="insert" parameterType="com.jhta.dto.Message_Dto">
		insert into message values(#{message_num},#{send_mem},#{receive_mem},#{content},#{message_condition},sysdate)
	</insert>
	
</mapper>