<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.PlayList_IMGMapper">
	<!-- PlayList_IMG_Dto -->
	<insert id="insert" parameterType="com.jhta.dto.PlayList_IMG_Dto">
		insert into playlist_img values(playlist_img_seq.nextval,#{org_file_name},#{saved_file_name},#{file_size})
	</insert>
	<select id="list" resultType="com.jhta.dto.PlayList_IMG_Dto">
		select * from playlist_img
	</select>
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.PlayList_IMG_Dto">
		select * from playlist_img where playlist_img_num=#{value}
	</select>
	<select id="delete" parameterType="int">
		delete from playlist_img where playlist_img_num=#{value} 
	</select>
	<select id="update" parameterType="com.jhta.dto.PlayList_IMG_Dto">
		update playlist_img
		set org_file_name=#{org_file_name},saved_file_name=#{saved_file_name},file_size=#{file_size}
		where playlist_img_num=#{playlist_img_num}
	</select>
	
</mapper>