<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.PlayListMapper">

	<!-- PlayList_Dto -->
	<insert id="insert" parameterType="com.jhta.dto.PlayList_Dto">
		insert into playlist values(playlist_seq.nextval,#{track_num},#{playlist_info_num},#{track_index})
	</insert>	
	<select id="list" resultType="com.jhta.dto.PlayList_Dto">
		select * from playlist			
	</select>
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.PlayList_Dto">
		select * from playlist where playlist_num=#{value}
	</select>
	<delete id="delete" parameterType="int">
		delete from playlist where playlist_num=#{value}
	</delete>
	<update id="update" parameterType="com.jhta.dto.PlayList_Dto">
		update playlist
		set track_num=#{track_num},playlist_info_num=#{playlist_info_num},track_index=#{track_index}
		where playlist_num=#{playlist_num}
	</update>
	
</mapper>