<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.PlayList_TAGMapper">
	<!-- PlayList_TAG_Dto -->
	<insert id="insert" parameterType="com.jhta.dto.PlayList_TAG_Dto">
		insert into playlist_tag values(playlist_tag_seq.nextval,#{playlist_tag_name},#{playlist_info_num})		
	</insert>
	<select id="list" resultType="com.jhta.dto.PlayList_TAG_Dto">
		select * from playlist_tag
	</select>
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.PlayList_TAG_Dto">
		select * from playlist_tag where playlist_tag_num=#{value}
	</select>
	<select id="delete" parameterType="int">
		delete from playlist_tag where playlist_tag_num=#{value}
	</select>
	<select id="update" parameterType="com.jhta.dto.PlayList_TAG_Dto">
		update playlist_tag
		set playlist_tag_name=#{playlist_tag_name},playlist_info_num=#{playlist_info_num}
		where playlist_tag_num=#{playlist_tag_num} 
	</select>
	
</mapper>