<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.PlayList_INFOMapper">

	<!-- PlayList_INFO_Dto -->
	<insert id="insert" parameterType="com.jhta.dto.PlayList_INFO_Dto">
		insert into playlist_info values(playlist_info_seq.nextval,#{member_id},#{playlist_title},#{playlist_comment},#{playlist_public},#{playlist_likecount},#{playlist_img_num},sysdate)
	</insert>
	<select id="list" resultType="com.jhta.dto.PlayList_INFO_Dto">
		select * from playlist_info
	</select>
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.PlayList_INFO_Dto">
		select * from playlist_info where playlist_info_num=#{value}
	</select>
	<select id="delete" parameterType="int">
		delete from playlist_info where playlist_info_num=#{value}
	</select>
	<select id="update" parameterType="com.jhta.dto.PlayList_INFO_Dto">
		update playlist_info
		set member_id=#{member_id},playlist_title=#{playlist_title},playlist_comment=#{playlist_comment},playlist_public=#{playlist_public},playlist_likecount=#{playlist_likecount},playlist_img_num=#{playlist_img_num},sysdate=#{playlist_release_date}
		where playlist_info_num=#{playlist_info_num}
	</select>
	
</mapper>