<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orm.mybatis.Track_Mapper">
 	<insert id="insert" parameterType="com.jhta.dto.Track_Dto">
 		insert into track 
 		values(
 			track_seq.nextval,<!-- track_num -->
 			#{track_title},
 			#{track_uploader},
 			#{track_artist},
 			#{track_public},
 			#{track_comment},
 			#{track_file_num},
 			#{track_img_num},
 			sysdate,<!-- release date -->
 			0,<!-- track_report_count -->
 			1,<!-- track_condition -->
 			0,<!-- track_playcount -->
 			0,<!--track_likecount  -->
 			#{genre_code}
 		)
 	</insert>
 	<delete id="delete" parameterType="int">
 		delete 
 		from track 
 		where track_num=#{value}
 	</delete>
 	<update id="update" >
 	</update>
 	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.Track_Dto">
 		select * 
 		from track
 		where track_num=#{value}
 	</select>

	<!-- 전체글의 갯수 -->
	<select id="getCount" resultType="int">
		select NVL(count(track_num),0) cnt from track
	</select>
	<!-- 조회수 증가 -->

	<!-- 상세보기 -->
	<select id="detail" parameterType="int" resultType="com.jhta.dto.Track_Dto">
		select * from track where track_num=#{value}
	</select>
	
	<!-- 글목록 -->
	<select id="list" parameterType="hashmap" resultType="com.jhta.dto.Track_Dto">
		select * from(
		 select aa.*,rownum rnum from
		  (
			select * from track
			order by track_num desc
		  )aa
		)
		<![CDATA[ where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	<select id="prev" parameterType="int" resultType="com.jhta.dto.Track_Dto">
		select * from(
		   select * from track
		   <![CDATA[where track_num<#{value} order by track_num desc]]>
		)where rownum=1
	</select>
	<select id="next" parameterType="int" resultType="com.jhta.dto.Track_Dto">
		select * from(
		   select * from track
		   <![CDATA[where track_num>#{value} order by track_num asc]]>
		)where rownum=1
	</select>
	<select id="search" parameterType="string">
		select * from track
		where track_title = #{
	</select>
</mapper>
