<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.Track_Tag_Mapper">
 	<insert id="insert" parameterType="com.jhta.dto.Track_TAG_Dto">
   		insert into track_tag values(
   			track_tag_seq.nextval,<!-- track_tag_num -->
   			#{track_tag_name}, <!-- tag한 유저 아이디 -->
   			#{track_num},<!-- tag한 트랙 -->
   		 )
   	</insert>
	<delete id="delete" parameterType="int">
		delete 
		from track_tag 
		where track_tag_num=#{value}
	</delete>
	<select id="getInfo" parameterType="com.jhta.dto.Track_TAG_Dto" 
	resultType="com.jhta.dto.Track_TAG_Dto">
		select * 
		from track_tag 
		where track_tag_num=#{value}
	</select>
	<select id="list" resultType="com.jhta.dto.Track_TAG_Dto">
		select * 
		from track_tag
	</select>
</mapper>
