<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.Track_Like_Mapper">
 	<insert id="insert" parameterType="com.jhta.dto.Track_LIKE_Dto">
   		insert into track_like values(
   			track_like_seq.nextval,<!-- track_like_num -->
   			#{member_id}, <!-- like한 유저 아이디 -->
   			#{track_num},<!-- like한 트랙 -->
   			sysdate<!-- track_like_date -->
   		 )
   	</insert>
	<delete id="delete" parameterType="int">
		delete 
		from track_like 
		where track_like_num=#{value}
	</delete>
	<select id="getInfo" parameterType="int" resultType="com.jhta.dto.Track_LIKE_Dto">
		select * 
		from track_like 
		where track_like_num=#{value}
	</select>
	<select id="list" resultType="com.jhta.dto.Track_LIKE_Dto">
		select * 
		from track_like
	</select>
</mapper>
