@CHARSET "UTF-8";

.header_default{
	width:1440px;
	height: 40px;
	background-color: #333333;

}
.header_default .header_left{
	margin: auto;
	width: 30%;
	height: 100%;
	float: left;
}
.header_default .header_left .header_logo{
	height: 100%;
	width: 100px;
	background-color: #F5D834;
	float: left;
}
.header_default .header_left .header_logo a{
	font-size: 15px;
	color: #333333;
}
.header_default .header_left .header_logo a img{
	display: block;
	margin: 6px auto;
	width: 50px;
}
.header_default .header_middle .searchbar{
	background-color: #E5E5E5;
	width: 40%;height: 20px;border-radius:5px;float: left;
	margin: 10px 10px;
	border: none;
}
.header_default .header_middle #search_button{
	margin-left: -30px;
	margin-top: 11px;
	background: Transparent;
	border: none;
	float: left;
}
.header_default .header_right .userNav_before_menu button{
	padding: 3px 7px;
	margin: 8px 5px;
	border: 1.5px solid #F5D834;
	border-radius: 3px;
	width: 70px;
	line-height: 15px;
	vertical-align: middle;
	background-color: Transparent;
	font-size: 12px;
	color: #F5D834;
}

.header_default .header_right .userNav_before_menu button:nth-child(1){
	border: none;
	background-color: #F5D834;
	color: #333333;
}

.header_default .header_right .userNav_before_menu button:nth-child(2){
	padding: 3px 15px;
}

.header_default .header_right .userNav_after_menu .upload_btn{
	width: 70px;
	line-height: 20px;
	margin: 10px 0px;
	border-radius: 5px;
	border:none;
	background-color: #F5D834;
	color: #333333;
	font-size: 12px;
	float: left;
}
.header_default .header_right .userNav_after_menu ul li{
	list-style: none;
	margin: 7px 10px;
	color: #E5E5E5;
	line-height: 100%;
	float: left;
}
.header_default .header_right .userNav_after_menu ul li a:hover{
	color:#FFFFFF;
}
.header_default .header_right .userNav_after_menu ul li a{
	line-height: 30px;
	text-decoration: none;
	color: #E5E5E5;
	font-size: 10px;
}
.header_default .header_right .userNav_after_menu ul li a span{
	font-size: 12px;
	margin: 7px 0px;
}
.header_default .header_right .userNav_after_menu ul li ul{
	width: 100px;
	background-color: #111111;
	display: none;
	margin-top: 3px;
}
.header_default .header_right .userNav_after_menu ul li:nth-child(2) ul{
	margin: 7px -60px;
}
.header_default .header_right .userNav_after_menu ul li:nth-child(2) ul li{
	width: 120px;
}
.header_default .header_right .userNav_after_menu ul li ul li{
	margin: 0px 0px;
	width: 100px;
	line-height: 30px;
	font-size: 12px;
}
.header_default .header_right .userNav_after_menu ul li ul li span{
	margin: 5px 7px;
}


.header_default .header_right .userNav_after_menu ul li img{
	display: block;
	margin: -2px 5px;
	width: 30px;height: 30px;
	border-radius: 20px;
	float: left;
}

/* Full-width input fields */
.header_modals .modal input[type=text], input[type=password] {
    width: 415px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.header_modals .modal input[type=text]:focus,input[type=password]:focus{
	outline: 0;
	border: 1px solid #333333;
}
/* Set a style for all buttons */
.header_modals .modal button {
	display: block;
    background-color: #F5D834;
    color: #333333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 415px;
    font-size: 20px;
}

/* Extra styles for the cancel button */
.header_modals .modal .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.header_modals .modal .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.header_modals .modal img.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.header_modals .modal #upload_input {
	display: none;
}
.header_modals .modal #upload_button{
	width: 80px;
	line-height: 5px;
	text-align: center;
	margin: 20px auto 0 auto;
	font-size: 15px;
}
.header_modals .modal #upload_button:focus{
	outline: 0;
}
.header_modals .modal .container {
    padding: 16px;
    width: 448px;
}

.header_modals .modal .container label {
	font-size: 17px;
	font-weight: lighter;
	color: #333333;
	margin: 10px auto 0px auto;
}
.header_modals .modal .container .invalid{
	display: none;
	margin-left: 10px;
	font-size: 15px;
	color: red;
}
.header_modals .modal .container .invalid span{
	margin-right: 2px;
	font-size: 13px;
}
.header_modals .modal .container .invalid span:first-child{
	font-size: 11px;
}
.header_modals .modal .container button {
	margin-top: 30px;
}
#profile_modal .container input[type=text]:nth-child(6) {
	display: inline-block;
	width: 345px;
}
.header_modals .modal span.psw {
    float: right;
}

/* The Modal (background) */
.header_modals .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.header_modals .modal .modal-content {
    background-color: #fefefe;
    margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 450px; /* Could be more or less, depending on screen size */
    border-radius: 0px;
}

/* The Close Button (x) */
.header_modals .modal .close {
    position: absolute;
    right: 10px;
    top: -20px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.header_modals .modal .close:hover,
.header_modals .modal .close:focus {
    color: #333333;
    cursor: pointer;
}
#account_modal .invalid:first-child{
	display: inline;
	border: 1px solid blue;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 450px;
    }
}
