*{
	margin: 0 0;
	padding: 0 0;
}

/* scroll bar setting */
.inner_content ::-webkit-scrollbar {
    width: 8px;
		margin: none;
}
.inner_content ::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
.inner_content ::-webkit-scrollbar-track {
	border: none;
    background:#eee;
    border-radius:10px;
}
.inner_content ::-webkit-scrollbar-thumb {
	border: none;
    background:#999;
    border-radius:10px;
}
.inner_content ::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}

html, body {
  width: 100%;
  height: auto;
	min-height: 100%;
}

#wrap {
  width: 100%;
	height: auto;
	min-height: 100%;
}

.content {
	overflow: auto;
  position: relative;
  width: 100%;
	min-height: calc(100% - 40px);
	height: auto;
}

.base {
	position: absolute;
  right: 0;
  top: 0;
 	width:100%;
	min-height: 100%;
	background-color: #F2F2F2;
	overflow: auto;
}

.inner_content {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left:calc(1240px / -2);
	right: auto;
	background-color: white;
  width: 1240px;
	min-height: 100%;
}
