@CHARSET "UTF-8";

.message-wrap{
	background-color: white;
	margin: 0px auto;
	width: 100%;
	height: 100%;
}
.messages-left{
	border-right: 1px solid #E5E5E5;
	width: 440px;
	height: auto;
	float: left;
	margin: 0 20px;
}
.messages-left .messages-title h1{

}
.messages-left .new-message-btn button{
	margin: 20px 0px;
	background-color: #F5D834;
	border: none;
	border-radius: 5px;
	width: 120px;
	height: 25px;
}
.messages-left .messages-content .conversations{
	width: 400px;
	height: 500px;
	float: left;
}
.messages-left .messages-content .conversations ul{
	height: 100%;
	width: 100%;
}
.messages-left .messages-content .conversations ul li{
	margin: 5px;
	width: 355px;
	height: 60px;
	list-style: none;
	display: inline-block;
}
.conversation-item{
	height: 100%;
	width: 100%;
	background-color: #F2F2F2;
}
.conversation-item .coversation-select{
	width: 5px;
	height: 100%;
	background-color: #F5D834;
	float: left;
}
.conversation-item .conversationBadge{
	position: relative;
	width: 60px;
	height: 60px;
	float: left;
}
.conversation-item .conversationBadge img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	border-radius:30px;
}

.conversation-item .conversationInfo{
	height: 60px;
	width: 280px;
	float: left;
}
.conversation-item .conversationInfo .conversationInfo-upper{
	height: 35px;
}
.conversation-item .conversationInfo .conversationInfo-upper .conversationInfo-name{
	height: 100%;
	width: 220px;
	float:left;
}
.conversation-item .conversationInfo .conversationInfo-upper .conversationInfo-name h3{
	margin: 5px;
	font-size: 20px;
	float: left;
}
.conversation-item .conversationInfo .conversationInfo-upper .conversationInfo-time{
	height: 100%;
	width: 60px;
	color: grey;
	float: right;
}
.conversation-item .conversationInfo .conversationInfo-upper .conversationInfo-time time{
	margin: 5px;
	claer: both;
	float: right;
	font-size: 15px;
}
.conversations .conversation-item .conversationInfo .conversationInfo-lower{
	height: 25px;
	font-size: 12px;
}
.conversation-item .conversationInfo .conversationInfo-lower .content-shortcut{
	margin:5px;
}
.messages-right{
	margin-left: 20px;
	margin-top: 10px;
	width: 720px;
	height: auto;
	float: left;
}
.messages-right .messages-upper{
	width: 100%;
	height: 70px;
}
.messages-right .messages-upper .conversation-target{
	width: 65%;
	height: 100%;
	float: left;
}
.messages-right .messages-upper .conversation-target h1{
	font-size: 30px;
	margin: 10px;
}
.messages-right .messages-upper .conversation-util{
	width: 35%;
	height: 100%;
	float: left;
}
.messages-right .messages-upper .conversation-util button{
	margin: 20px 5px;
	float: right;
	line-height: 8px;
	font-size: 12px;
	border: 1px solid #E5E5E5;
}

.messages-right .messages-upper .conversation-util button span{
	margin-right: 5px;
}

.messages-right .messages-mid{
	width: 100%;
	height: 380px;
}
.messages-right .messages-mid .messages-list{
	margin-top: 10px;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
.messages-right .messages-mid  .messages-list  ul{
	height: 100%;
	width: 100%;
}
.messages-right .messages-mid  .messages-list ul li{
	margin: 2px 0px;
	width: 100%;
	height: 60px;
	list-style: none;
	display: inline-block;
	float: right;
}
.messages-right .messages-mid  .messages-list ul li:FIRST-CHILD{
	margin-top: 4px;
}
.messages-mid  .messages-list .conversation-item .conversationInfo{
	height: 50px;
	width: 620px;
	float: left;
}
.messages-right .messages-lower{
	margin-top: 20px;
	width: 100%;
	height: 180px;
}
.messages-right .messages-lower .messagesWrite{

}
.messages-right .messages-lower .messagesWrite textarea{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.messages-right .messages-lower .messagesWrite textarea:focus{
	border: 1px solid #333333;
}
.messages-right .messages-lower .messagesWrite .form-group{
	width: 100%;
	height: 120px;
}
.messages-right .messages-lower .messagesWrite .messagesWrite-btn{
	float: right;
}
.messages-right .messages-lower .messagesWrite .messagesWrite-btn button{
	margin-top: 10px;
	border:none;
	display: block;
	font-size: 12px;
	line-height: 15px;
	background-color: #F5D834;
	color: #333333;
}
