@CHARSET "EUC-KR";
*{margin:0;padding:0}

/* MYPAGE 내의 버튼 모음 시작 */
.mypage-headerOuter-headerInner-leftImage button,
.mypage-headerOuter-headerInner-rightInfo-btnHeaderImage,
.btn-profile-edit, .btn-profile-follow, .btn-profile-following, .btn-profile-message,
.mypage-content-left-socials-following-rightInfo button,
.mypage-content-left-socials-followers-rightInfo button,
.mypage-content-left-socials-comments-rightButtons button,
.profileEdit-modal-outer-innerLeft-UpdateImage button
{height:26px;background-color: white;border: 1px solid black;border-radius: 5px;padding-left: 7px;padding-right: 7px;}
/* MYPAGE 내의 버튼 모음 끝 */

.marker-privateIcons{color:black;background-color: #F5D834;border-radius: 5px;padding-left: 5px;padding-right: 5px;padding-top: 2px;padding-bottom: 2px;}

/* 이미지 파일이 없는 경우 배경에 출력되는 기본값 */
.defaultImageBackground{background-image: linear-gradient(145deg, #846170, #e6846e);}




/* MYPAGE 시작 */
.mypage{width:1440px;min-width:1024px;margin: auto;}



/* MYPAGE의 HEADER 영역 바깥 테두리 (이미지 없는 프로필 배경 이미지 출력, 가로/세로 크기의 기준점 역할) */
.mypage-headerOuter{width:100%;height:260px;background-image: linear-gradient(145deg, #846170, #e6846e);}
/* MYPAGE의 HEADER 영역 기본 테두리 : 배경 이미지 등록시 출력되는 영역(바깥 테두리의 기본 배경을 가림, 이미지 사이즈가 작은 경우 바둑판 효과 OFF 되어 있음)  */
.mypage-headerOuter-headerInner{width:100%;height:100%;background-image: url("");background-repeat:no-repeat;padding: 30px;display: inline-block;}

/* MYPAGE의 HEADER 영역 왼쪽 : 프로필 이미지 영역 시작 */
.mypage-headerOuter-headerInner-leftImage{margin-right: 30px;float: left;position: relative;}
.mypage-headerOuter-headerInner-leftImage img{width:200px;height:200px;background : linear-gradient(145deg, #e6846e, #846170);float: left;}
.mypage-headerOuter-headerInner-leftImage-profileImage{width:200px;height:30px;position:absolute;bottom:10px;left:35px;z-index: 1;}
/* MYPAGE의 HEADER 영역 왼쪽 : 프로필 이미지 영역 끝 */

/* MYPAGE의 HEADER 영역 오른쪽 : 프로필 정보 시작 */
.mypage-headerOuter-headerInner-rightInfo{width:100%;height:200px;position: relative;}
.mypage-headerOuter-headerInner-rightInfo-btnHeaderImage{float: right;}
.mypage-headerOuter-headerInner-rightInfo-profileNickname h3{width:auto;height:auto;background-color: black;font-family: sans-serif;color: white;font-size: 24px;margin: 0px;padding-left: 5px;padding-right: 5px;padding-top: 10px;padding-bottom:10px;display: inline-block;}
.mypage-headerOuter-headerInner-rightInfo-profileId h4{width:auto;height:auto;background-color: black;font-family: sans-serif;color: #bfbfbf;font-size: 15px;margin-top: 5px;margin-bottom:0px;padding: 5px;display: inline-block;}
.mypage-headerOuter-headerInner-rightInfo-profileButtons{width:auto;height:auto;position: absolute;bottom:0px;left:230px;}

	/* MYPAGE의 HEADER 영역 오른쪽 내의 프로필 정보 수정  시작 */
	#mypage-headerOuter-headerInner-rightInfo-profileEdit{width:660px;}
	.profileEdit-modal-outer{display: inline-block;}
	.profileEdit-modal-outer-innerLeft{height:auto;position: relative;float: left;}
	.profileEdit-modal-outer-innerLeft-image{margin-right:20px;float: left;}
	.profileEdit-modal-outer-innerLeft-image img{width:200px;height:200px;background : linear-gradient(145deg, #e6846e, #846170);float: left;}
	.profileEdit-modal-outer-innerLeft-UpdateImage{width:200px;height:30px;position:absolute;bottom:10px;left:35px;z-index: 1;}
	.profileEdit-modal-outer-innerRight{width:400px;float: left;}
	/* 프로필 정보 수정 URL 바로가기 입력란 */
	.profileEdit-modal-outer-innerRight-profileURL-outer{position: relative;}
	#profileEdit-modal-outer-innerRight-profileURL-input{display: block; border: 1px solid #d7d6d6; background: #fff;padding-left: 81px;}
	.profileEdit-modal-outer-innerRight-profileURL-domain{position: absolute; display: block; left: 11px; top: 7px; z-index: 1;}
	/* MYPAGE의 HEADER 영역 오른쪽 내의 프로필 정보 수정  끝 */

/* MYPAGE의 HEADER 영역 오른쪽 : 프로필 정보 끝 */



/* MYPAGE의 중간 탭 매뉴 시작 */
.mypage-menubarOuter{width:100%;min-width:1024px;height:50px;margin-bottom: 20px;padding-left:30px;padding-right:30px;}
.mypage-menubarOuter-menubarInner{width:100%;height:100%;line-height:3.4;vertical-align:bottom;border-bottom: 1px solid #e6e6e6;}
.mypage-menubarOuter-menubarInner ul li{list-style:none;color: black;font-size:20px;margin-right: 20px;display: inline;}
.mypage-menubarOuter-menubarInner ul li:HOVER{border-bottom: 2.5px solid gray;padding-bottom: 3px;}
.mypage-menubarOuter-menubarInner ul li a{text-decoration: none;color: black;}
/* MYPAGE의 중간 탭 매뉴 끝 */



/* MYPAGE의 CONTENT 영역 시작 */
#mypage-content{width:100%;height:auto;margin: auto;display: inline-block;}


/* CONTENT 왼쪽 영역 시작 */
.mypage-content-left{
	width:70%;min-width:624px;height:auto;
	padding-left:30px;padding-right:30px;
	border-right: 1px solid #e6e6e6;
	float: left;
	}

	/* CONTENT 왼쪽 영역 TRACKS/PLAYLISTS의 서브 메뉴 시작 */
	#mypage-content-left-counter{height:40px;}
	#mypage-content-left-counter h5{display: inline;}
	/* CONTENT 왼쪽 영역 TRACKS/PLAYLISTS의 서브 메뉴 끝 */

	/* CONTENT 왼쪽 영역 SOCIALS의 서브 메뉴 시작 */
	#mypage-content-left-socialsButtons{height:40px;}
	#mypage-content-left-socialsButtons button{
		height:26px;color:#ff9900;background-color: white;
		border: 1px solid #ff9900;border-radius: 5px;
		padding-left: 7px;padding-right: 7px;
		}
	/* CONTENT 왼쪽 영역 SOCIALS의 서브 메뉴 끝 */


	/* CONTENT 왼쪽 영역 TRACKS 목록 출력  */
	#mypage-content-left-tracks{width:100%;height:auto;float:left;display: inline-block;}
	.mypage-content-left-tracks-leftArtwork{margin-right:20px;float: left;display: inline-block;}
	.mypage-content-left-tracks-leftArtwork img{width:160px;height:160px;background-image: linear-gradient(145deg, #e6846e, #846170);float: left;}

	.mypage-content-left-tracks-rightSoundInfo{width:100%;height:auto;}

	.mypage-content-left-tracks-rightSoundInfo-header{height:45px;}

	.mypage-content-left-tracks-rightSoundInfo-header-btnPlay{margin-right:20px;display: inline-block;float: left;}
	.mypage-content-left-tracks-rightSoundInfo-header-btnPlay img{width:40px;height:40px;}
	.mypage-content-left-tracks-rightSoundInfo-header-btnPlay img:hover{-webkit-filter:contrast(110%);filter:contrast(110%);}
	.mypage-content-left-tracks-rightSoundInfo-header-titleInfo{width:auto;display: inline-block;float: left;}
	.mypage-content-left-tracks-rightSoundInfo-header-titleInfo-title1{height:20px;font-family: sans-serif;}
	.mypage-content-left-tracks-rightSoundInfo-header-titleInfo-title1 span{font-size: 12px;color:#8c8c8c;}
	.mypage-content-left-tracks-rightSoundInfo-header-titleInfo-title2{height:20px;font-family: sans-serif;}
	.mypage-content-left-tracks-rightSoundInfo-header-titleInfo-title2 span{font-size: 14px;color:#4d4d4d;}
	.mypage-content-left-tracks-rightSoundInfo-header-marker{width:auto;display: inline-block;float: right;}
	.mypage-content-left-tracks-rightSoundInfo-header-marker-date{height:20px;font-family:sans-serif;text-align:right;}
	.mypage-content-left-tracks-rightSoundInfo-header-marker-date span{font-size: 12px;color:#8c8c8c;}
	.mypage-content-left-tracks-rightSoundInfo-header-marker-attribution{height:25px;text-align:right;}
	.mypage-content-left-tracks-rightSoundInfo-header-marker-attribution span{display: inline-block;}

	.mypage-content-left-tracks-rightSoundInfo-content{height:auto;}

	.mypage-content-left-tracks-rightSoundInfo-content-waveformOuter{width:100%;height:85px;padding-left: 180px;}
	.mypage-content-left-tracks-rightSoundInfo-content-waveformOuter-waveformInner{width:100%;height:100%;background-color: orange;}
	.mypage-content-left-tracks-rightSoundInfo-content-playlistOuter{width:100%;height:30px;padding-left: 180px;display: none;}
	.mypage-content-left-tracks-rightSoundInfo-content-playlistOuter-playlistInner{width:100%;height:100%;padding: 7px;border:1px solid #bfbfbf;}
	.mypage-content-left-tracks-rightSoundInfo-content-playlistOuter-playlistInner:HOVER{background-color: #e6e6e6;}
	.mypage-content-left-tracks-rightSoundInfo-content-playlistOuter-playlistInner-artwork{margin-right:10px;position: relative;}
	.mypage-content-left-tracks-rightSoundInfo-content-playlistOuter-playlistInner-artwork img{width:20px;height:20px;position: absolute;top:-2px;background-image: linear-gradient(145deg, #846170, #e6846e);}
	.mypage-content-left-tracks-rightSoundInfo-content-playlistOuter-playlistInner-title{font-size: 12px;color:black;margin-left: 20px;}
	.mypage-content-left-tracks-rightSoundInfo-content-playlistOuter-playlistInner-counter{font-size: 12px;color:gray;float: right;}

	.mypage-content-left-tracks-rightSoundInfo-footer{height:30px;position: relative;margin-left:180px;}

	.mypage-content-left-tracks-rightSoundInfo-footer-buttons{left:0px;position: absolute;bottom: 0px;}
	.mypage-content-left-tracks-rightSoundInfo-footer-buttons button{height:26px;background-color: white;border: 1px solid black;border-radius: 5px;padding-left: 7px;padding-right: 7px;}

	/* CONTENT 왼쪽 영역 PLAYLISTS 목록 출력  */
	#mypage-content-left-playlists{width:100%;height:auto;float:left;display: inline-block;}
	.mypage-content-left-playlists-leftArtwork{margin-right:20px;float: left;display: inline-block;}
	.mypage-content-left-playlists-leftArtwork img{width:160px;height:160px;background-image: linear-gradient(145deg, #e6846e, #846170);float: left;}

	.mypage-content-left-playlists-rightSoundInfo{width:100%;height:auto;}

	.mypage-content-left-playlists-rightSoundInfo-header{height:45px;}
	.mypage-content-left-playlists-rightSoundInfo-header-btnPlay{margin-right:20px;display: inline-block;float: left;}
	.mypage-content-left-playlists-rightSoundInfo-header-btnPlay img{width:40px;height:40px;}
	.mypage-content-left-playlists-rightSoundInfo-header-btnPlay img:hover{-webkit-filter:contrast(110%);filter:contrast(110%);}
	.mypage-content-left-playlists-rightSoundInfo-header-titleInfo{width:auto;display: inline-block;float: left;}
	.mypage-content-left-playlists-rightSoundInfo-header-titleInfo-title1{height:20px;font-family: sans-serif;}
	.mypage-content-left-playlists-rightSoundInfo-header-titleInfo-title1 span{font-size: 12px;color:#8c8c8c;}
	.mypage-content-left-playlists-rightSoundInfo-header-titleInfo-title2{height:20px;font-family: sans-serif;}
	.mypage-content-left-playlists-rightSoundInfo-header-titleInfo-title2 span{font-size: 14px;color:#4d4d4d;}
	.mypage-content-left-playlists-rightSoundInfo-header-marker{width:auto;display: inline-block;float: right;}
	.mypage-content-left-playlists-rightSoundInfo-header-marker-date{height:20px;font-family:sans-serif;text-align:right;}
	.mypage-content-left-playlists-rightSoundInfo-header-marker-date span{font-size: 12px;color:#8c8c8c;}
	.mypage-content-left-playlists-rightSoundInfo-header-marker-attribution{height:25px;text-align:right;}
	.mypage-content-left-playlists-rightSoundInfo-header-marker-attribution span{display: inline-block;}

	.mypage-content-left-playlists-rightSoundInfo-content{height:auto;}

	.mypage-content-left-playlists-rightSoundInfo-content-waveformOuter{width:100%;height:85px;padding-left: 180px;}
	.mypage-content-left-playlists-rightSoundInfo-content-waveformOuter-waveformInner{width:100%;height:100%;background-color: orange;}
	.mypage-content-left-playlists-rightSoundInfo-content-playlistOuter{width:100%;height:30px;padding-left: 180px;}
	.mypage-content-left-playlists-rightSoundInfo-content-playlistOuter-playlistInner{width:100%;height:100%;padding: 7px;border:1px solid #bfbfbf;}
	.mypage-content-left-playlists-rightSoundInfo-content-playlistOuter-playlistInner:HOVER{background-color: #e6e6e6;}

	.mypage-content-left-playlists-rightSoundInfo-content-playlistOuter-playlistInner-artwork{margin-right:10px;position: relative;}
	.mypage-content-left-playlists-rightSoundInfo-content-playlistOuter-playlistInner-artwork img{width:20px;height:20px;position: absolute;top:-2px;background-image: linear-gradient(145deg, #846170, #e6846e);}
	.mypage-content-left-playlists-rightSoundInfo-content-playlistOuter-playlistInner-title{font-size: 12px;color:black;margin-left: 20px;}
	.mypage-content-left-playlists-rightSoundInfo-content-playlistOuter-playlistInner-counter{font-size: 12px;color:gray;float: right;}

	.mypage-content-left-playlists-rightSoundInfo-footer{height:30px;position: relative;margin-left:180px;}
	.mypage-content-left-playlists-rightSoundInfo-footer-buttons{left:0px;position: absolute;bottom: 0px;}
	.mypage-content-left-playlists-rightSoundInfo-footer-buttons button{height:26px;background-color: white;border: 1px solid black;border-radius: 5px;padding-left: 7px;padding-right: 7px;}

	/* CONTENT 왼쪽 영역 SOCIALS 목록 출력  */	
	/* CONTENT 왼쪽 영역 SOCIALS - FOLLOWING 목록 출력  */
	.mypage-content-left-socials-following-list{width:100%;height:auto;float: left;margin-bottom: 20px}
	.mypage-content-left-socials-following-leftImage{margin-right: 30px;float:left;}
	.mypage-content-left-socials-following-leftImage img{width:100px;height:100px;float: left;}
	.mypage-content-left-socials-following-rightInfo{width:auto;height:100px;padding:0px;float:left;}
	.mypage-content-left-socials-following-rightInfo h4{font-size: 18px;color: #4d4d4d;}
	.mypage-content-left-socials-following-rightInfo h5{font-size: 15px;color:#8c8c8c;}

	/* CONTENT 왼쪽 영역 SOCIALS - FOLLOWERS 목록 출력  */
	.mypage-content-left-socials-followers-list{width:100%;height:auto;float: left;margin-bottom: 20px}
	.mypage-content-left-socials-followers-leftImage{margin-right: 30px;float:left;}
	.mypage-content-left-socials-followers-leftImage img{width:100px;height:100px;float: left;}
	.mypage-content-left-socials-followers-rightInfo{width:auto;height:100px;padding:0px;float:left;}
	.mypage-content-left-socials-followers-rightInfo h4{font-size: 18px;color: #4d4d4d;}
	.mypage-content-left-socials-followers-rightInfo h5{font-size: 15px;color:#8c8c8c;}

	/* CONTENT 왼쪽 영역 SOCIALS - LIKES 목록 출력  */
		#mypage-content-left-socials-likes{width:100%;height:auto;float:left;display: inline-block;}
		.mypage-content-left-socials-likes-leftArtwork{margin-right:20px;float: left;display: inline-block;}
		.mypage-content-left-socials-likes-leftArtwork img{width:160px;height:160px;background-image: linear-gradient(145deg, #e6846e, #846170);float: left;}

		.mypage-content-left-socials-likes-rightSoundInfo{width:100%;height:auto;}

		.mypage-content-left-socials-likes-rightSoundInfo-header{height:45px;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-btnPlay{margin-right:20px;display: inline-block;float: left;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-btnPlay img{width:40px;height:40px;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-btnPlay img:hover{-webkit-filter:contrast(110%);filter:contrast(110%);}
		.mypage-content-left-socials-likes-rightSoundInfo-header-titleInfo{width:auto;display: inline-block;float: left;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-titleInfo-title1{height:20px;font-family: sans-serif;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-titleInfo-title1 span{font-size: 12px;color:#8c8c8c;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-titleInfo-title2{height:20px;font-family: sans-serif;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-titleInfo-title2 span{font-size: 14px;color:#4d4d4d;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-marker{width:auto;display: inline-block;float: right;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-marker-date{height:20px;font-family:sans-serif;text-align:right;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-marker-date span{font-size: 12px;color:#8c8c8c;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-marker-attribution{height:25px;text-align:right;}
		.mypage-content-left-socials-likes-rightSoundInfo-header-marker-attribution span{display: inline-block;}

		.mypage-content-left-socials-likes-rightSoundInfo-content{height:auto;}

		.mypage-content-left-socials-likes-rightSoundInfo-content-waveformOuter{width:100%;height:85px;padding-left: 180px;}
		.mypage-content-left-socials-likes-rightSoundInfo-content-waveformOuter-waveformInner{width:100%;height:100%;background-color: orange;}
		.mypage-content-left-socials-likes-rightSoundInfo-content-playlistOuter{width:100%;height:30px;padding-left: 180px;}
		.mypage-content-left-socials-likes-rightSoundInfo-content-playlistOuter-playlistInner{width:100%;height:100%;padding: 7px;border:1px solid #bfbfbf;}
		.mypage-content-left-socials-likes-rightSoundInfo-content-playlistOuter-playlistInner:HOVER{background-color: #e6e6e6;}

		.mypage-content-left-socials-likes-rightSoundInfo-content-playlistOuter-playlistInner-artwork{margin-right:10px;position: relative;}
		.mypage-content-left-socials-likes-rightSoundInfo-content-playlistOuter-playlistInner-artwork img{width:20px;height:20px;position: absolute;top:-2px;background-image: linear-gradient(145deg, #846170, #e6846e);}
		.mypage-content-left-socials-likes-rightSoundInfo-content-playlistOuter-playlistInner-title{font-size: 12px;color:black;margin-left: 20px;}
		.mypage-content-left-socials-likes-rightSoundInfo-content-playlistOuter-playlistInner-counter{font-size: 12px;color:gray;float: right;}

		.mypage-content-left-socials-likes-rightSoundInfo-footer{height:30px;position: relative;margin-left:180px;}
		.mypage-content-left-socials-likes-rightSoundInfo-footer-buttons{left:0px;position: absolute;bottom: 0px;}
		.mypage-content-left-socials-likes-rightSoundInfo-footer-buttons button{height:26px;background-color: white;border: 1px solid black;border-radius: 5px;padding-left: 7px;padding-right: 7px;}

	/* CONTENT 왼쪽 영역 SOCIALS - COMMENTS 목록 출력  */
	.mypage-content-left-socials-comments-commentsList{width:100%;min-width:947px;height:auto;margin-bottom:30px;border-bottom:1px solid #e6e6e6;float:left;background-color: aqua;}
	.mypage-content-left-socials-comments-leftInfo{background-color: gray;float: left;}
	.mypage-content-left-socials-comments-commentsList-title h5{color:#404040;}
	.mypage-content-left-socials-comments-commentsList-title a{color: #404040;text-decoration: none;}
	.mypage-content-left-socials-comments-commentsList-title a:HOVER{color: #404040;}
	.mypage-content-left-socials-comments-commentsList-comment{;background-color: green;}
	.mypage-content-left-socials-comments-rightButtons{width:100px;text-align:right;float: right;background-color: orange;}
/* CONTENT 왼쪽 영역 끝 */


/* CONTENT 오른쪽 영역 시작 */

	/* CONTENT 오른쪽 영역 HEADER - STATUS 시작 */
	.mypage-content-right{width:30%;padding-left:30px;padding-right:30px;float:left;}
	.mypage-content-right table{width:100%;min-width:364px;float: left;margin-bottom: 30px;}
	.mypage-content-right table a{text-decoration: none;}
	.mypage-content-right table span{display: block;}
	.mypage-content-right table span:HOVER{color: #4d4d4d;}
	.mypage-content-right td{width:33%;min-width:60px;float: left;}
	.mypage-content-right-status-item{font-size: 11px;color:#8c8c8c;}
	.mypage-content-right-status-value{font-size: 18px;font-family:serif;font-weight:bold;color: #8c8c8c;}
	.mypage-content-right-status-tracks{padding-right:10px;border-right: 1px solid #e6e6e6;}
	.mypage-content-right-status-following{padding-left: 10px;padding-right:10px;border-right: 1px solid #e6e6e6;}
	.mypage-content-right-status-followers{padding-left: 10px;}
	/* CONTENT 오른쪽 영역 HEADER - STATUS 끝 */
	
	/* CONTENT 오른쪽 영역 HEADER - introduce 시작 */
	.mypage-content-right-introduce{width: 100%;margin-bottom: 30px;}
	.mypage-content-right-introduce-text{color: #4d4d4d;}
	/* CONTENT 오른쪽 영역 HEADER - introduce 끝 */
	
	/* CONTENT 오른쪽 영역 HEADER - recent likes 시작 */
	/* CONTENT 오른쪽 영역 HEADER - recent likes bar 시작 */
	.mypage-content-right-recentLikesBar{width: 100%;border-bottom:1px solid #e6e6e6;padding-bottom:5px;display: inline-block;}
	.mypage-content-right-recentLikesBar a{text-decoration: none;}
	.mypage-content-right-recentLikesBar span{color:#8c8c8c;}
	.mypage-content-right-recentLikesBar-recent{float: left;}
	.mypage-content-right-recentLikesBar-viewAll{float: right;}
	.mypage-content-right-recentLikesBar-viewAll:HOVER{color: #4d4d4d;}
	/* CONTENT 오른쪽 영역 HEADER - recent likes bar 끝 */
	/* CONTENT 오른쪽 영역 HEADER - recent likes 목록 시작 */
	.mypage-content-right-recentLikesLists{width: 100%;margin-top: 15px;display: inline-block;}
	.mypage-content-right-recentLikesLists-leftArtwork{margin-right: 10px;float: left;}
	.mypage-content-right-recentLikesLists-leftArtwork img{width:50px;height:50px;}
	.mypage-content-right-recentLikesLists-rightSoundInfo{float: left;}
	.mypage-content-right-recentLikesLists-rightSoundInfo-title1 span{color: #8c8c8c;font-size: 12px;}
	.mypage-content-right-recentLikesLists-rightSoundInfo-title2 span{color: #4d4d4d;font-size: 14px;}
	.mypage-content-right-recentLikesLists-rightSoundInfo-title3 span{color: #8c8c8c;font-size: 12px;margin-right: 5px;}
	/* CONTENT 오른쪽 영역 HEADER - recent likes 목록 끝 */
/* CONTENT 오른쪽 영역 HEADER - recent likes 끝 */

/* CONTENT 오른쪽 영역 끝 */


/* MYPAGE의 CONTENT 영역 끝 */


/* MYPAGE 끝 */
