@CHARSET "UTF-8";

body {font-family: "Lato", sans-serif;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;

}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.base {
	width: 100%;
	height: 680px;
	background-color: red;
}

.notification-wrap {
	background-color: yellow;
	margin: 0px 100px;
	width: 1240px;
	height: 100%;
	float: left;
}

.notification-upper {
	display: table-cell;
	vertical-align: text-top;
	width: 1240px;
	height: 80px;
	background-color: green;
}

.notification-upper .notiUpper-title {
	display: inline-block;
	width: 100%;
	line-height: 60px;
	background-color: pink;
}

.notification-upper h1 {
	
}

.notification-mid {
	height: 85%;
	width: 100%;
	background-color: blue;
}
.notification-item {
	width: 1216px;
	height: 120px;
	padding: 10px 0px;
}

.notification-item .notification-badge-margin {
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
}
.notification-item .notification-badge{
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
}
.notification-item .notification-badge img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	border-radius:50px;
}