html, body {
  height: 100%;
}

#wrap {
  height: calc(100% - 40px);
}

.search_header {
  background-color: skyblue;
  width: 100%;
  height: 60px;
  font-size: 30px;
}

.search_nav {
  width: 20%;
  min-height: calc(100% - 60px);
  background-color: green;
  float: left;
}

.search_results {
  width: 80%;
  height: 500px;
  background-color: purple;
  float: left;
}

.search_results table {
  width: 100%;
  height: 100%;
}

.search_results th:first-child{
  width: 5%;
}

.search_results th:nth-child(2){
  width: 35%;
}
.search_results th:nth-child(3){
  width: 30%;
}
.search_results th:nth-child(4),.search_results th:nth-child(5){
  width: 8%;
}
.search_results th:nth-child(6){
  width: 19%;
}
