@CHARSET "UTF-8";

.trackpage_wrapper {

}

.trackpage_upper {
  width: 100%;
  height: 400px;
  position: relative;
}

.trackpage_upper .upper_background {
  width: 100%;
  height: 100%;
  background-image: url('/resources/images/track_background/sample.jpg');
  background-size: 100%;
  background-position: center;

}

.trackpage_upper .curtain {
  height: 400px;
  width: 1240px;
  background-color: #333333;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.trackpage_upper .upper_left {
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
}

.upper_left .track_header {
  width: 90%;
  height: 100px;
  margin: 20px 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 444;
}

.upper_left .track_header .playBtn {
  width: 100px;
  height: 100%;
  float: left;
}
.upper_left .track_header .playBtn button {
  width: 70%;
  height: 70%;
  border: none;
  background-color: #F5D834;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 5px;
}

.upper_left .track_header .playBtn button span {
  margin-left: 5px;
  font-size: 30px;
}

.upper_left .track_header .playBtn button:hover {
  background-color: #FFE200;
}

.upper_left .track_header .info_box {
  width:calc(90% - 100px);
  height: 100%;
  float: left;
}

.track_header .info_box .artist {
  width: 100%;
  height: 30%;
  margin-bottom: 3px;
}
.track_header .info_box .artist h3:hover {
  color: white;
}
.track_header .info_box .artist h3 {
  display: inline-block;
  background-color: black;
  color: #E5E5E5;
  font-size: 17px;
  margin: 0;
  padding: 5px;
}

.track_header .info_box .title {
  width: 100%;
  height: 60%;
}

.track_header .info_box .title h2 {
  display: inline-block;
  background-color: black;
  color: white;
  margin: 0;
  padding: 5px;
}

.upper_left .track_header .date {
  padding: 2px 0px;
  text-align: center;
  background-color: black;
  color: white;
  width: 10%;
  float: left;
}

.upper_left .track_player {
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;
}

.trackpage_upper .upper_right {
  width: 30%;
  height: 100%;
  float: left;
  position: relative;
}
.upper_right .track_cover{
  width: 330px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 444;

}

.upper_right .track_cover img{
  width: 100%;
  margin: 30px 20px;
}

.trackpage_lower {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.trackpage_lower .lower_left {
  border-right: 1px solid  #E5E5E5;
  width: 80%;
  height: 100%;
  float: left;
  padding: 5px 10px;
}

.trackpage_lower .lower_upper {
  height: 45px;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 5px;
}

.trackpage_lower .lower_upper .btn_set {
  width: calc(85% - 10px);
  margin: 5px;
  float: left;
}

.trackpage_lower .lower_upper .btn_set button{
  border: 1px solid #E5E5E5;
  background-color: white;
  border-radius: 3px;
  padding: 2px 5px;
}

.trackpage_lower .lower_upper .btn_set button:hover{
  background-color: #E5E5E5;
}

.trackpage_lower .lower_upper .btn_set button span:first-child{
  margin-right: 5px;
  font-size: 12px;
}

.trackpage_lower .lower_upper .btn_set button:nth-child(2) img{
  margin: -2px 5px 0px 0px;
}

.trackpage_lower .lower_upper .stats {
  color:  #999999;
  height: 100%;
  width: calc(15% - 10px);
  float: left;
}
.trackpage_lower .lower_upper .stats span{
  margin: 10px 5px;
  font-size: 18px;
}
.trackpage_lower .lower_upper .stats span span{
  font-size: 15px;
  margin-right: 5px;
  background-color: none;
}
.trackpage_lower .left_wrapper {
  width: 100%;
}

.left_wrapper .artist_info{
  margin-top: 10px;
  width: 20%;
  height: 300px;
  float: left;
}

.artist_info .profile_img img{
  display: block;
  margin: 10px auto;
  width: 120px;
  border-radius: 50%;
}
.profile_box {
  text-align: center;
}
.profile_box .nickname {
  text-align: center;
}

.profile_box .nickname a {
  text-decoration: none;
  color: #BEBEBE;
}

.profile_box .nickname a:hover {
  color: #333333;
}

.profile_box .stats {
  display: inline-block;
  margin: 0px auto;
}

.profile_box .stats img {
  width: 16px;
}

.profile_box .stats a{
  text-decoration: none;
}

.profile_box .stats a span{
  font-size: 12px;
  color: #BEBEBE;
}

.profile_box .stats a span:hover {
  color: #333333;
}

.profile_box .follow_btn button{
  display: block;
  margin: 10px auto;
  border-radius: 3px;
  width: 60px;
  background-color: white;
  color: #F5D834;
  border: 1px solid #F5D834;
}

.profile_box .follow_btn button:hover {
  background-color: #F5D834;
  border: none;
  color: white;
}

.profile_box .follow_btn button.following {
  background-color: #F5D834;
  border: none;
  color: #333333;
}

.left_wrapper .content {
  padding: 10px;
  width: 80%;
  height: auto;
  float: left;
}

.left_wrapper .content .track_comment {
  height: 200px;
  padding: 10px;
}
.left_wrapper .content .track_comment textarea{
  border: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.left_wrapper .content .comments {
  width: 100%;
  height: 300px;
}

.left_wrapper .content .comments img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content .comments .comments_header {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  color: #999999;
  padding-left: 10px;
  border-bottom: 1px solid #E5E5E5;
}

.content .comments .comments_header .icon {
  height: 100%;
  width: 20px;
  float: left;
}
.content .comments .comments_header .text {
  line-height: 30px;
  width: calc(100% - 20px);
  float: left;
}

.content .comments .comments_header .icon span {
  margin-top: 8px;
  font-size: 15px;
}

.content .comments .comments_header .text span {

}

.content .comments .comments_list {
  padding: 5px 10px;
}

.content .comments .comments_list .comments_write {
  margin: 10px 0px;
  width: 100%;
  height: 40px;
}

.comments .comments_list .comments_write .comments_badge {
  float: left;
}

.comments_list .comments_write input[type=text] {
  padding: 0px 5px;
  margin: 10px 10px;
  border: 1px solid #DACFCF;
  border-radius: 2px;
  width: calc(100% - 100px);
  height: 20px;
  float: left;
}

.comments_list .comments_write input[type=text]:focus {
  outline: none;
  border: 1px solid #333333;
}

.comments_list .comments_write input[type=submit] {
  margin-top: 10px;
  width: 40px;
  height: 20px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #F5D834;
  border: none;
  color: #333333;
  float: left;
}

.content .comments .comments_list .ul_wrapper {
  margin-top: 10px;
}

.content .comments .comments_list ul {
  width: 100%;
  height: 200px;
  overflow: hidden;
  list-style-type: none;
  overflow: auto;
}
.content .comments .comments_list ul li {
  list-style: none;
  margin-top: 10px;
  height: 40px;
  width: 100%;
}

.comments .comments_list .comments_item {
  height: 100%;
  width: 100%;
}

.comments_list .comments_item .comments_badge {
  width: 40px;
  height: 100%;
  float: left;
}

.comments_list .comments_item .comments_upper{
  padding-left: 10px;
  height: 45%;
  width: calc(100% - 40px);
  float: left;
}

.comments_list .comments_item .comments_upper span {
  color: #DACFCF;
}

.comments_list .comments_item .comments_upper .upper_left {
  height: 100%;
  width: calc(100% - 60px);
  float: left;
}
.comments_item .comments_upper .upper_left a{
  text-decoration: none;
}

.comments_item .comments_upper .upper_left a:hover {
}

.comments_item .comments_upper .upper_left .user_name {
  color: #999999;
}

.comments_item .comments_upper .upper_left .user_name:hover{
  color: #333333;
}

.comments_item .comments_upper .upper_left span:nth-child(2) {
  font-size: 12px;
}

.comments_item .comments_upper .upper_left .time {
  font-size: 12px;
}

.comments_item .comments_upper .upper_right {
  height: 100%;
  width: 60px;
  float: left;
}

.comments_item .comments_upper .upper_right .date {
  font-size: 12px;
  color:  #999999;
  float: right;
}

.comments_list .comments_item .comments_content{
  padding-left: 10px;
  width: calc(100% - 40px);
  height: 55%;
  float: left;
}

.trackpage_lower .lower_right {
  padding: 10px;
  width: 20%;
  height: auto;
  float: left;
}

.lower_right .likes .likes_header {
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  color: #999999;
}

.likes .likes_header .header_left {
  padding-left: 10px;
  width: 70%;
  height: 100%;
  float: left;
}
.likes .likes_header .header_left span {
  margin-right: 2px;
}

.likes .likes_header .header_left span:first-child {
  font-size: 13px;
}

.likes .likes_header .header_right {
  padding-right: 10px;
  width: 30%;
  height: 100%;
  float: left;
}

.likes .likes_header .header_right a:hover {
}

.likes .likes_header .header_right span {
  float: right;
  color: #999999;
}

.likes .likes_header .header_right span:hover {
  color: #333333;
}

.likes .likes_contents ul {
  height: auto;
}

.likes .likes_contents ul li {
  display: block;
  padding: 2px 0px;
  list-style: none;
}

.likes .likes_contents .likes_item a:hover {
  text-decoration: none;
}

.likes_contents .likes_item span {
  color: #999999;
}

.likes_contents .likes_item span:hover {
  color: #333333;
}

.likes_contents .likes_item .likes_bedge {
  margin-right: 5px;
  width: 20%;
  height: 100%;
  float: left;
}

.likes_contents .likes_item .likes_bedge img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.likes_contents .likes_item .likes_upper{
  width: calc(80% - 10px);
  height: 50%;
  float: left;
}

.likes_contents .likes_item .likes_lower{
  width: calc(80% - 10px);
  height: 50%;
  float: left;
}
.likes_contents .likes_item .likes_lower img {
  width: 16px;
}

.likes_contents .likes_item .likes_lower a span {
  font-size: 12px;

}
